.table tr td:first-child{
    width:25%;
}
.tableScroll{
    overflow: auto;
}
table{
    font-size:12px;
}
h3{
    font-size:20px;
    color: black !important;
    font-weight: bold;
}
td:not(:first-child){
    text-align: center;
}
td{
    font-weight: bold;
    vertical-align: middle !important;
}

th:not(:first-child){
    text-align: center;
    font-size:12px;
}